<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="tests">
  <test thread-count="1" name="AutomationChromeTest_1" parallel="tests">
    <parameter name="browserName" value="chrome"/>
    <parameter name="tagsToRun" value="@Login_user"/>
    <classes>
      <class name="runner.CucumberRunner"/>
    </classes>
  </test> <!-- AutomationChromeTest_1 -->  
</suite> <!-- Test Suite -->
